// colors
$black: #000;
$white: #FFF;
$pastel-pink: #FFAEBC;
$pastel-blue: #A0E7E5;
$pastel-green: #B4F8C8;
$pastel-yellow: #FBFFA1;
$grey: #EBEEEC;
$light-grey: #FBFBFB;
$sand: #F5F6EA;
//fonts
$title-font: 'Agbalumo';
$default-font: 'Roboto';