@import '../../../../variables.scss';

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2% 0;

  .logoWrapper {
    display: flex;
    flex: 1;

    .siteLogo {
      width: 100%;
    }
  }

  .navigationOptions {
    display: flex;
    text-align: center;
    flex: 3;

    .text {
      width: 100%;
    }
  }

  .navigationLeftOptions {
    display: flex;
    flex: 1;  
    justify-content: center;
  }

  .BarsIcon {
    display: none;

    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }
}