@import "../../../../variables.scss";

.dish-details {
  display: flex;
  flex-direction: column;
  background-color: $grey;
  padding: 5% 0;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
    font-size: 1.5rem;
    font-family: $default-font;
  }

  .favorites-count {
    &-icon {
      
    }

    &-text {

    }
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 0;

    &-icons {
      display: flex;
      flex: 50%;
      padding: 5%;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;

      svg {
        margin-right: 8%;
      }
    }

    &-text {
      display: flex;
      font-size: 1rem;

      :first-child {
        margin-right: 8%;
      }
    }
  }
}