@import "../../../variables.scss";

.suggestions-slide {
  margin-bottom: 1.5rem;

  .title {
    font-family: $title-font;
    font-size: 1.3rem;
  }

  .seggestion-swiper {
    margin-top: 0.7rem;

    --swiper-pagination-bottom: 0;
  }
}

.popular-slide {
  display: flex;
  flex-direction: column;
}

.search-categories-wrapper {
  display: flex;
  flex-direction: column;
}

.home-body {
  margin: 0 1rem;
}